body {
    background-image: url(../images/blue-bg.jpg);
    font-family: "Open Sans", serif;
    font-weight: 500;
    color: #ffffff;
}

/* header content */
#logo-slogan {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: #031a38;
    padding: 20px;
}

#logo {
    max-width: 100px;
    height: auto;
}

.vert-line {
    border-left: 3px solid #d61a20;
    height: 90px;
}

h1 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 24px;
}

main {
    margin: 40px 0;
}

/* Search bar and button */
#search {
    text-align: center;
    padding-top: 40px;
}

#search label{
    font-size: 20px;
    text-transform: uppercase;
    /* Move label on top of input */
    display: block;
    margin-bottom: 15px;
}

#definition {
    margin: 0 20px 40px 20px;
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
}

input, button {
    font-family: inherit;
    font-size: 20px;
}

button {
    margin-bottom: 40px;
    padding: 10px 20px;
    background-color: #d61a20;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

/* Lighter red on hover */
button:hover {
    background-color: #e3565a;
}

/* Darker red when button is being clicked */
button:active {
    background-color: #ad151a;
}

#search input {
    width: 50%;
    padding: 8px;
    margin-bottom: 15px;
    border: 3px solid #d61a20;
    border-radius: 8px;
    box-sizing: border-box;
}

/* Word fact cards */
#word-facts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 15px;
    gap: 10px;
    margin: 0 50px;
}

.fact-card {
    background-color: #cce2eb;
    color: #3a3d40;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.fact-card h2 {
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 10px;
}

.fact-card p {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    margin-top: 30px;
    font-weight: 400;
}


/* For desktop */
@media only screen and (min-width: 650px) {

    #logo {
        max-width: 150px;
    }

    .vert-line {
        height: 130px;
    }

    h1 {
        font-size: 44px;
    }

    main {
        margin: 40px 50px;
    }

    #search label{
        font-size: 24px;
    }

    #definition {
        margin: 0 50px 40px 50px;
        font-size: 32px;
    }

    input, button {
        font-size: 24px;
    }

    .fact-card h2 {
        font-size: 16px;
    }

    .fact-card p {
        font-size: 34px;
    }
}